
\subsection{Example}
The mean height of adult males is 69 inches and the standard
deviation is 2.5 inches. The mean height of adult females is 65
inches and the standard deviation is 2.5 inches. Let population 1
be the population of male heights, and population 2 the population
of female heights. Suppose samples of 50 each are selected from
both populations.
\begin{equation}
S.E(\bar{X}_{1}-\bar{X}_{2}) =
\sqrt{\frac{s^2_{1}}{n_{1}}+\frac{s^2_{2}}{n_{2}})}
\end{equation}
